{% extends 'app/base.html' %}
{% load static  %}
{% block title %}
About Us
{% endblock title %}

{% block main-content %}
<pre> ২০৫২ সাল...।
    - দাদু একটা গল্প বলো।
    - কীসের গল্প শুনবে দাদু?
    - বইয়ের গল্প।
    - বইয়ের গল্প বলতে গেলে গ্রন্থাগারের  গল্পও তো আসবে।
    - গ্রন্থাগার ডট কম? বাংলাদেশের সবচেয়ে সুখী কোম্পানি যেটি?
    - হ্যাঁ, দাদু সেই গ্রন্থাগার  ডট কম।
    _ তুমি কীভাবে চেনো দাদু গ্রন্থাগারকে?
    - কারণ গ্রন্থাগার একসময় আমার ছিল আর আমি ছিলাম গ্রন্থাগারের ।
    - তারপর কী হল?
    - দাঁড়াও দাদু, তাহলে তোমাকে শুরু থেকেই বলি।
   আজ থেকে ৩০ বছর আগের কথা। ২০২২ সালের ৭ ডিসেম্বর, বাংলাদেশের বুকে ছোট্ট একটা স্বপ্নের জন্ম হল, যে স্বপ্নের নাম দেয়া হল- গ্রন্থাগার ডট কম। এই স্বপ্নটা দেখেছিলো বাংলাদেশের ৩ জন তরুণ-তরুণী, 
   যাদের তোমরা আবু বকর সিদ্দিক মাহি, ফারহানা সুলতানা ঈশিতা এবং আল যুবায়ের সাদ" নামে চিনো। তারাই পালটে দিতে চেয়েছিলো বাংলাদেশের বইবাজার। স্বপ্নটা কী ছিল? স্বপ্নটা ছিল বাংলাদেশের ছাপ্পান্ন
   হাজার বর্গমাইল এলাকা বইয়ে বইয়ে সয়লাব করে দেয়া, প্রতিটি মানুষের হাতে খুব সহজে বই পৌঁছে দেয়া। কারণ বইয়ের আলোতেই আলোকিত হতে পারে সকল মানুষের প্রজ্ঞা, আর সে প্রজ্ঞাবান মানুষের হাত
   ধরেই তো আসবে অন্যরকম বাংলাদেশ। গ্রন্থাগারের সেই স্বপ্নের সারথি ছিলাম আমিও। খুব ছোট থেকে শুরু আমাদের। প্রথম যখন গ্রন্থাগারে বইয়ের অর্ডার এলো তখনকার পাওয়া আনন্দের কথা এখনো মনে আছে।
   ঢাকার বাইরে থেকে আসা অর্ডারে তো উত্তেজনায় কাপাকাপি করতাম সবাই। কাজের মাঝে আনন্দ খুঁজে নেয়াই গ্রন্থাগার পরিবারের সকল সদস্যের মূলমন্ত্র ছিল। আর তাই তো পরিবার হয়ে ওঠে আমাদের 
   কর্মক্ষেত্রে। কাজের ফাঁকে খুনসুটি, আইডিয়া জেনারেট করবার সময় সব আইডিয়াকে সেইম প্রায়োরিটি দেয়া, সব টিম ও টিম মেম্বারদের একই মর্যাদা দেয়াই গ্রন্থাগার কে অন্যরকম করে তোলে। আর সেই 
   অন্যরকম ভালোলাগাই সেলস জেনারেট  করে কারণ প্রতিটা মানুষ সেখানে আবেগ দিয়ে কাজ করে। একে একে একেকটি মাইলফলক অতিক্রম করতে থাকে । এক লাখ, তিন লাখ, পাঁচ লাখ থেকে কোটি টাকার
   সেলস খুব অল্প সময়েই গ্রন্থাগারকে দেশের অন্যতম সেরা ব্র্যান্ড বলা ভালো সবচেয়ে সুখী কোম্পানি গড়ার দিকে এগিয়ে নিয়ে যেতে থাকে। দেশের প্রতিটি প্রান্ত থেকে বইপড়ুয়া মানুষ গ্রন্থাগারের মাধ্যমে যখন তখন বই 
   আনিয়ে পড়তে পারছে। ঘরে বসেই বই হাতে পেয়ে যাওয়া তাদের কতো কর্মঘন্টাই না বাঁচিয়ে দিচ্ছে। অনলাইনেই একটু পড়ে বই যাচাই বাছাই করা যাচ্ছে, কেনার পর সমস্যা থাকলে হ্যাপি রিটার্নও করা যাচ্ছে। 
   সকল ধরনের পেমেন্ট অপশনের সুবিধা যেমন আছে তেমনি মাঝেমাঝেই থাকে এক্সট্রা অফার ও গিফটের চমকও। গ্রন্থাগারের রিভিউ লাইব্রেরি দেশের সবচেয়ে বৃহৎ অনলাইন রিভিউ কালেকশন।
    
   বাঁধা এসেছে অনেক কিন্তু গ্রন্থাগার সেসব বাঁধা পার করে মাথা উঁচু করে দাঁড়িয়ে আছে এখনো। কারণ এই কোম্পানির প্রতিটি টিম মেম্বারের চোখে একটাই স্বপ্ন- সারা বাংলাদেশকে বই পড়তে দেখার স্বপ্ন। সে 
   গ্রন্থাগার থেকে অবসর নিয়েছি তাও সাত-আট বছর হলো। এরপরই তো তুমি আসলে দাদু, তাই তোমাকে বলা হয় নি গ্রন্থাগারের গল্পটা।
   - তুমি বলো নি দাদু, কিন্তু মা কিন্তু ঠিকই বলে দিয়েছে আমাকে। তোমার মতো এতো সুন্দর করে বলতে পারে নি, কিন্তু যা বলেছে তাই যথেষ্ট ছিল। তাই তো, গ্রন্থাগারে গিয়েছিলাম একদিন তোমাকে না বলেই।
   তোমার নাম বলতেই সে কী উচ্ছ্বাস সবার মাঝে। তোমার জন্মদিন না কাল? তাই গ্রন্থাগার পরিবার আর তোমার নিজের পরিবার মিলে তোমার জন্মদিন পালন করবো আমরা।
   - ওরে, আমার ছোট্ট দাদাভাই। তুই ই তো সুখী বাংলাদেশের প্রতিনিধি। তুই ই গ্রন্থাগার। চল বাংলাদেশের সবচেয়ে সুখী কোম্পানিতে নিয়ে যাই তোকে...
    
   দীর্ঘ এই পথ চলার কি শেষ হয়!    

    <br></pre>
    
{% endblock main-content %}