{% extends 'app/base.html' %}
{% load static  %}
{% block title %}
Reset Password Completed
{% endblock title %}

{% block main-content %}

<div class="container my-5">
    <div class="row my-3">
            <div class="col sm-6 offset-sm-3">
            <h3>Password Changed Successfully !!!</h3>
            <hr>
        </div>
        <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameBorder="0"
        class="giphy-embed" allowfullscreen></iframe>

    </div>
    </div>
    


{% endblock main-content %}